@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search-input {
    @apply focus:outline-none w-full mt-1 px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400;
  }
  .icon {
    @apply text-2xl font-bold text-white px-2;
  }
  .nav-link {
    @apply mr-8 hover:text-green-600 text-sm font-medium font-inter;
  }
  .hero-bg {
    @apply rounded-md bg-cover bg-no-repeat transition-all ease-linear duration-300  cursor-pointer hover:scale-105;
  }
  .cate-item {
    @apply flex justify-start items-center border p-4 rounded-sm cursor-pointer transition-all duration-300 ease-in-out group-hover:scale-105;
  }
  .section-title {
    @apply text-xl lg:text-2xl mb-2 font-inter font-semibold text-title;
  }
  .section-disc {
    @apply text-base font-openSans text-paragraph leading-6;
  }
  .add-icon{
    @apply border text-green-600 p-2 text-xl border-gray-200 rounded-md bg-white cursor-pointer hover:bg-green-500 hover:text-white hover:border-green-500 transition-all ease-in-out
  }
  .shop-btn{
    @apply bg-white px-4 py-2 text-gray-800 font-inter text-xs font-semibold rounded-2xl hover:bg-green-600 hover:text-white 
  }
}

@layer utilities {
  .product-title {
    color: #4b5563;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
  }
}
