@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .product-title {
    color: #4b5563;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
  }
}

@layer components {
  .search-input {
    @apply focus:outline-none w-full mt-1 px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400;
  }
  .icon{
      @apply text-2xl font-bold text-white px-2
  }
  .nav-link{
      @apply mr-8 hover:text-green-600 text-sm font-medium font-inter
  }
  .hero-bg{
    @apply rounded-md bg-cover bg-no-repeat transition-all ease-linear duration-300  cursor-pointer hover:scale-105
  }
}
